[package]
name = "tlrc"
version = "1.4.0"
description = "A tldr client written in Rust"
categories = ["command-line-utilities"]
homepage = "https://github.com/acuteenvy/tlrc"
repository = "https://github.com/acuteenvy/tlrc"
documentation = "https://acuteenvy.github.io/tlrc"
license = "MIT"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3.2", features = ["derive"] }
dirs = "5.0.1"
serde = { version = "1.0.164", features = ["derive"] }
toml = "0.7.4"
ureq = { version = "2.6.2", default-features = false, features = ["tls"] }
yansi = "0.5.1"
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[build-dependencies]
clap = { version = "4.3.2", features = ["derive"] }
clap_complete = "4.3.1"

[[bin]]
name = "tldr"
path = "src/main.rs"

[profile.release]
lto = true
strip = true
codegen-units = 1
panic = "abort"
