[package]
name = "tlrc"
version = "1.8.0"
description = "Official tldr client written in Rust"
categories = ["command-line-utilities"]
homepage = "https://github.com/tldr-pages/tlrc"
repository = "https://github.com/tldr-pages/tlrc"
documentation = "https://tldr.sh/tlrc"
license = "MIT"
edition = "2021"
rust-version = "1.70"

[[bin]]
name = "tldr"
path = "src/main.rs"

[dependencies]
clap = { version = "4.4.12", features = ["derive"] }
dirs = "5.0.1"
once_cell = "1.19.0"
ring = "0.17.7"
serde = { version = "1.0.195", features = ["derive"] }
toml = "0.8.8"
ureq = { version = "2.9.1", default-features = false, features = ["tls"] }
yansi = "0.5.1"
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[dev-dependencies]
assert_cmd = "2.0.12"

[lints.clippy]
all = "warn"
pedantic = "warn"
style = "warn"
module_name_repetitions = { level = "allow", priority = 1 }
struct_excessive_bools = { level = "allow", priority = 1 }

[profile.release]
lto = true
strip = true
codegen-units = 1
panic = "abort"
