[package]
name = "tlrc"
version = "1.9.2"
description = "Official tldr client written in Rust"
categories = ["command-line-utilities"]
homepage = "https://github.com/tldr-pages/tlrc"
repository = "https://github.com/tldr-pages/tlrc"
documentation = "https://tldr.sh/tlrc"
license = "MIT"
edition = "2021"
rust-version = "1.70"

[[bin]]
name = "tldr"
path = "src/main.rs"

[features]
# The default TLS implementation is Rustls with native certificates.
# Disabling the `native-certs` feature switches to Rustls with webpki-roots.
default = ["socks-proxy", "native-certs"]
socks-proxy = ["ureq/socks-proxy"]
native-certs = ["ureq/native-certs"]

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
dirs = "5.0.1"
once_cell = "1.19.0"
ring = "0.17.8"
serde = { version = "1.0.203", features = ["derive"] }
toml = "0.8.13"
ureq = { version = "2.9.7", default-features = false, features = ["tls"] }
yansi = "1.0.1"
zip = { version = "2.1.3", default-features = false, features = ["deflate"] }

[dev-dependencies]
assert_cmd = "2.0.14"

[lints.clippy]
all = "warn"
pedantic = "warn"
style = "warn"
module_name_repetitions = { level = "allow", priority = 1 }
struct_excessive_bools = { level = "allow", priority = 1 }

[profile.release]
lto = true
strip = true
codegen-units = 1
panic = "abort"
